.extension-root {
  padding: 0 0 0 7px;
}

.extension-root__header {
  padding-right: 7px;
}

.extension-root__heading {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 29px;
  border: solid #555 2px;
  background: #888888;
  padding: 2px 2px 2px 6px;
}

.extension-root__main {
  padding: 2px 0 20px;
  min-height: 160px;
}

.extension-root__main ul,
.extension-root__main li {
  margin: 0;
}

.extension-root__main ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.extension-root__footer {
  padding-bottom: 60px;
}

.extension-root__footer button {
  appearance: none;
  color: #ff8a00;
  text-decoration: none;
  overflow: hidden;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: drop-shadow(2px 2px 0px rgb(140,205,255,0.8));
  margin: 0 0 2px;
  cursor: pointer;
  border: none;
  background: transparent;
  height: 30px;
  padding-bottom: 0;
}

.extension-root__footer button::before,
.extension-root__footer button::after {
  height: 27px;
}

.extension-root__footer button:active {
  padding-bottom: 4px;
}
